set pager=1
set color_normal=black/light-gray
set color_highlight=white/dark-gray
set timeout=1
set default=0

# Serial console support for headless/no-GUI QEMU boot
serial --speed=115200 --unit=0 --word=8 --parity=no --stop=1
terminal_input serial console
terminal_output serial console

menuentry "BJROS" {
	multiboot /boot/kernel.elf
}
